ghp-import
jupyterlab
jupyterlab_pygments
jupytext
markdown-it-py
matplotlib
myst-nb
myst-parser
nbclient
nbconvert
nbformat
numpy
openpyxl
pandas
pandocfilters
sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-design
sphinx-external-toc
sphinx-multitoc-numbering
sphinx-notfound-page
sphinx-togglebutton
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
